<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eventbus.eventbustest" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.eventbus.eventbustest.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.eventbus.eventbustest.EFirstActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden"
            />
        <activity android:name="com.eventbus.eventbustest.EStickyActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden"
            />
    </application>
    <!-- 这个权限是测试进程间通信，服务器端的service加的自定义权限，这边不给这个权限肯定是绑定不上的 -->
    <uses-permission android:name="com.test.aidl.permission.SERVICE" />

</manifest>
